In [11]:
import pandas as pd
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

movies.tail()

,movieId,title,genres
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [13]:
import pandas as pd
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [15]:
import pandas as pd
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

movies.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [70]:
import pandas as pd
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

ratings.query('rating == 0.5')['rating'].count()
ratings['rating'].max()

ratings.merge(movies, on='movieId', how='outer').info()

movies.query('movieId == 3456')['title']

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100854 entries, 0 to 100853
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  float64
 1   movieId    100854 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  float64
 4   title      100854 non-null  object
 5   genres     100854 non-null  object
dtypes: float64(3), int64(1), object(2)
memory usage: 5.4+ MB

2587    Color of Paradise, The (Rang-e khoda) (1999)
Name: title, dtype: object

In [20]:
import pandas as pd
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

movies['movieId'].count()

9742

In [24]:
import pandas as pd
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

joined = ratings.merge(movies, on='movieId', how='left')

joined.head()

len(ratings) == len(joined)

True

In [32]:
import pandas as pd
ratings = pd.read_csv('ratings_example.txt', sep = '\t')
ratings.head()
movies = pd.read_csv('movies_example.txt', sep = '\t')
movies.head()

ratings.merge(movies, on='movieId', how='left').head()

   userId  movieId  rating   timestamp                    title genres
0       1       31     2.5  1260759144  Dangerous Minds (1995)   Drama
1       1       31     2.5  1260759144  Dangerous Minds (1995)   Drama

In [33]:
import pandas as pd
ratings = pd.read_csv('ratings_example.txt', sep = '\t')
movies = pd.read_csv('movies_example.txt', sep = '\t')

movies.drop_duplicates(subset='movieId', keep='first', inplace=True)
ratings.merge(movies, on='movieId', how='left').head()

   userId  movieId  rating   timestamp                    title genres
0       1       31     2.5  1260759144  Dangerous Minds (1995)   Drama

In [49]:
import pandas as pd

items_dict = {

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394],

    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],

    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]

}
purchase_log = {

    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132],

    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]

}

items_df = pd.DataFrame(items_dict)
purchase_df = pd.DataFrame(purchase_log)

joined = items_df.merge(purchase_df, on='item_id', how='inner')

joined.query('purchase_id.isnull()')

joined['sell_out'] = joined['stock_count'] * joined['price']

joined.sort_values(by='sell_out', ascending=False)

joined.sell_out.sum()

19729490

In [64]:
import pandas as pd
import os

files = os.listdir('data')

#for root, subfolder, files in os.walk(top='data/'):
    #print(root, subfolder, files)

data = pd.DataFrame(columns=['userId','movieId','rating','timestamp'])
for file in files:
    temp = pd.read_csv(os.path.join('data', file), names=['userId','movieId','rating','timestamp'])
    data = pd.concat([data, temp])
data.count()

userId       100004
movieId      100004
rating       100004
timestamp    100004
dtype: int64