In [6]:
import pandas as pd
pd.set_option('display.max_columns', None)

data = pd.read_excel('Fig3-1.xls', header=None)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       860 non-null    object
 1   1       860 non-null    object
 2   2       131 non-null    object
 3   3       133 non-null    object
 4   4       133 non-null    object
 5   5       131 non-null    object
 6   6       132 non-null    object
 7   7       857 non-null    object
 8   8       861 non-null    object
 9   9       858 non-null    object
 10  10      130 non-null    object
 11  11      4 non-null      object
 12  12      131 non-null    object
 13  13      858 non-null    object
 14  14      860 non-null    object
 15  15      859 non-null    object
 16  16      0 non-null      float64
 17  17      131 non-null    object
 18  18      132 non-null    object
dtypes: float64(1), object(18)
memory usage: 128.4+ KB

In [14]:
url = 'https://lms.skillfactory.ru/assets/courseware/v1/33c6d423497ad69652af34c294c606f0/asset-v1:Skillfactory+DST-PRO+15APR2020+type@asset+block/nakladnaya.xls'
data = pd.read_excel(url, header=None, skiprows=2)

data = data.dropna(how='all')

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 25
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       0 non-null      float64
 1   1       7 non-null      object
 2   2       10 non-null     object
 3   3       8 non-null      object
 4   4       2 non-null      object
 5   5       1 non-null      object
 6   6       3 non-null      object
 7   7       0 non-null      float64
 8   8       3 non-null      object
 9   9       3 non-null      object
 10  10      0 non-null      float64
 11  11      7 non-null      object
 12  12      4 non-null      object
dtypes: float64(3), object(10)
memory usage: 1.6+ KB

In [15]:
data.iloc[0, 4][2:9]

'5764809'

In [16]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,NaN,NaN,NaN,НАКЛАДНАЯ,"№ 5764809 от ""08"" апреля 2018 г.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Грузоотправитель:,NaN,"ООО ""Первый строитель""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Грузополучатель:,NaN,"ООО ""Стройка века""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Основание для отпуска: Договор №,NaN,NaN,86,"от ""02""апреля 2018 г.",NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,№,Наименование товарно-материальных ценностей,NaN,NaN,NaN,Ед. изм.,NaN,NaN,Количество,NaN,"Цена,","Сумма,"

In [17]:
data.iloc[6:8, :].dropna(axis=1, how='any')

   1                      2   6   9     11     12
11  1  Велосипед "Спринтер"   шт   5  9000  45000
12  2    Велосипед "Малютка"  шт  10  3500  35000

In [19]:
data.iloc[6:8, [1, 2, 6, 9, 11, 12]]

   1                      2   6   9     11     12
11  1  Велосипед "Спринтер"   шт   5  9000  45000
12  2    Велосипед "Малютка"  шт  10  3500  35000

In [20]:
data.iloc[6:8, :].dropna(axis=1, how='all')

   1                      2   6   9     11     12
11  1  Велосипед "Спринтер"   шт   5  9000  45000
12  2    Велосипед "Малютка"  шт  10  3500  35000