In [1]:
import pandas as pd
log = pd.read_csv('log.csv', header=None)
sample = pd.read_csv('sample.csv')
columns = sample.columns
#users = pd.read_csv('users.csv')

sample.columns = sample.columns.str.lower()
sample.name.unique()
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        10 non-null     object
 1   city        10 non-null     object
 2   age         11 non-null     int64
 3   profession  11 non-null     object
dtypes: int64(1), object(3)
memory usage: 480.0+ bytes

In [2]:
import pandas as pd
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log.user_id.unique()

array(['Запись пользователя № - user_919',
       'Запись пользователя № - user_973',
       'Запись пользователя № - user_903',
       'Запись пользователя № - user_954',
       'Запись пользователя № - user_917',
       'Запись пользователя № - user_900',
       'Запись пользователя № - user_980',
       'Запись пользователя № - user_906',
       'Запись пользователя № - user_952',
       'Запись пользователя № - user_972',
       'Запись пользователя № - user_966',
       'Запись пользователя № - user_964',
       'Запись пользователя № - user_978',
       'Запись пользователя № - user_968',
       'Запись пользователя № - user_974',
       'Запись пользователя № - user_998',
       'Запись пользователя № - user_990',
       'Запись пользователя № - user_942',
       'Запись пользователя № - user_929',
       'Запись пользователя № - user_976',
       'Запись пользователя № - user_927',
       'Запись пользователя № - user_951',
       'Запись пользователя № - user_949',
       'Запись пользователя № - user_987',
       'Запись пользователя № - user_985',
       'Запись пользователя № - user_992',
       'Запись пользователя № - user_937',
       'Запись пользователя № - user_913',
       'Запись пользователя № - user_948',
       'Запись пользователя № - user_916',
       'Запись пользователя № - user_938',
       'Запись пользователя № - user_997',
       'Запись пользователя № - user_940',
       'Запись пользователя № - user_918',
       'Запись пользователя № - user_960',
       'Запись пользователя № - user_905',
       'Запись пользователя № - user_924',
       'Запись пользователя № - user_958',
       'Запись пользователя № - user_920',
       'Запись пользователя № - user_943',
       'Запись пользователя № - user_935',
       'Запись пользователя № - user_915',
       'Запись пользователя № - user_921',
       'Запись пользователя № - user_999',
       'Запись пользователя № - user_982',
       'Запись пользователя № - user_928',
       'Запись пользователя № - user_944',
       'Запись пользователя № - user_912',
       'Запись пользователя № - user_969',
       'Запись пользователя № - user_901',
       'Запись пользователя № - user_995',
       'Запись пользователя № - user_933',
       'Запись пользователя № - user_986',
       'Запись пользователя № - user_971',
       'Запись пользователя № - user_977',
       'Запись пользователя № - user_979',
       'Запись пользователя № - user_910',
       'Запись пользователя № - user_994',
       'Запись пользователя № - user_907',
       'Запись пользователя № - user_941',
       'Запись пользователя № - user_989',
       'Запись пользователя № - user_955',
       'Запись пользователя № - user_991',
       'Запись пользователя № - user_996',
       'Запись пользователя № - user_926',
       'Запись пользователя № - user_984',
       'Запись пользователя № - user_957',
       'Запись пользователя № - user_914',
       'Запись пользователя № - user_988',
       'Запись пользователя № - user_923',
       'Запись пользователя № - user_967',
       'Запись пользователя № - user_945',
       'Запись пользователя № - user_993',
       'Запись пользователя № - user_908',
       'Запись пользователя № - user_930',
       'Запись пользователя № - user_981',
       'Запись пользователя № - user_936',
       'Запись пользователя № - user_922',
       'Запись пользователя № - user_962',
       'Запись пользователя № - user_965',
       'Запись пользователя № - user_959',
       'Запись пользователя № - user_963',
       'Запись пользователя № - user_904',
       'Запись пользователя № - user_931',
       'Запись пользователя № - user_1000',
       'Запись пользователя № - user_946',
       'Запись пользователя № - user_970',
       'Запись пользователя № - user_939',
       'Запись пользователя № - user_961',
       'Запись пользователя № - user_911',
       'Запись пользователя № - user_950',
       'Запись пользователя № - user_956',
       'Запись пользователя № - user_909',
       'Запись пользователя № - user_983',
       'Запись пользователя № - user_902',
       'Запись пользователя № - user_947',
       'Запись пользователя № - user_975',
       'Запись пользователя № - user_953',
       'Запись пользователя № - user_925',
       'Запись пользователя № - user_934',
       'Запись пользователя № - user_932', '#error'], dtype=object)

In [3]:
import pandas as pd
users = pd.read_csv('users.csv', delimiter='\t', encoding='koi8_r')
users.columns = ['user_id', 'email', 'geo']
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  100 non-null    object
 1   email    99 non-null     object
 2   geo      97 non-null     object
dtypes: object(3)
memory usage: 2.5+ KB

In [4]:
import pandas as pd
sample = pd.read_csv('sample.csv')

sample.columns = sample.columns.str.lower()
sample[sample['age']<30]
sample

            name         city  age profession
0         Иванов       Москва   25     Клинер
1            NaN    Волгоград   31   Менеджер
2         Иванов       Москва   25     Клинер
3        sidorov  Владивосток   43   Менеджер
4        _______        Курск   50   Водитель
5       Кузнецов         Сочи   19    Рабочий
6          Сажин       Сургут   29    Рабочий
7   Котлеревский   Йошкар-Ола   32    Рабочий
8     Завалишина    Чебоксары   36   Менеджер
9         Левина          NaN   55    Рабочий
10          Фикс         Рига   42    Рабочий

In [5]:
log = pd.read_csv("log.csv",header=None)
log.columns = ['user_id','time', 'bet','win']
log_win = log.query('win == win')
win_count = log_win.win.count()

In [6]:
sample = pd.read_csv("sample.csv")
sample2 = sample.query('Age <30 & Profession == "Рабочий"')
sample2

       Name    City  Age Profession
5  Кузнецов    Сочи   19    Рабочий
6     Сажин  Сургут   29    Рабочий

In [7]:
log = pd.read_csv("log.csv",header=None)
log.columns = ['user_id','time', 'bet','win']
log2 = log.query('win >0 & bet <2000')

In [8]:
sample = pd.read_csv("sample.csv")
sample['City'].str.contains('o', na=False)
sample3 = sample[~sample['City'].str.contains('о', na=True)]
sample3

       Name    City  Age Profession
4   _______   Курск   50   Водитель
6     Сажин  Сургут   29    Рабочий
10     Фикс    Рига   42    Рабочий

In [9]:
log = pd.read_csv("log.csv",header=None)
log.columns = ['user_id','time', 'bet','win']
new_log  = log[log['user_id'].str.contains('user', na=False)]

In [10]:
sample = pd.read_csv("sample.csv")
sample2 = sample
sample2['Age'] = sample2['Age'].apply(lambda x: x+1)

In [11]:
sample = pd.read_csv("sample.csv")
sample2 = sample
sample2['City'] = sample2['City'].apply(lambda x: str(x).lower())
sample2

            Name         City  Age Profession
0         Иванов       москва   25     Клинер
1            NaN    волгоград   31   Менеджер
2         Иванов       москва   25     Клинер
3        sidorov  владивосток   43   Менеджер
4        _______        курск   50   Водитель
5       Кузнецов         сочи   19    Рабочий
6          Сажин       сургут   29    Рабочий
7   Котлеревский   йошкар-ола   32    Рабочий
8     Завалишина    чебоксары   36   Менеджер
9         Левина          nan   55    Рабочий
10          Фикс         рига   42    Рабочий

In [12]:
sample = pd.read_csv("sample.csv")
def profession_code(s):
    return 0 if s == "Рабочий" else 1 if s == "Менеджер" else 2
sample2 = sample
sample2['Profession'] = sample2['Profession'].apply(profession_code)

In [13]:
sample = pd.read_csv("sample.csv")
def age_category(age):
    return 'молодой' if age < 23 else 'средний' if age < 35 else 'зрелый'
sample['Age_category'] = sample['Age'].apply(age_category)

In [14]:
import re
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id','time','bet','win']
def clean_user_id(string):
    result = re.search('(user_\d+)', str(string))
    return result.group(0) if result is not None else ''
log['user_id'] = log['user_id'].apply(clean_user_id)
log['user_id']
'bla'[1:]

'la'

In [15]:
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id','time','bet','win']

log.time = log.time.apply(lambda x: x[1:] if type(x) == str else x)
log.time

0      2019-01-01 14:06:51
1      2019-01-01 14:51:16
2      2019-01-01 16:31:16
3      2019-01-01 17:17:51
4      2019-01-01 21:31:18
              ...
995     2019-04-20 9:59:58
996                    NaN
997                    NaN
998                    NaN
999                    NaN
Name: time, Length: 1000, dtype: object

In [16]:
log = pd.read_csv("log.csv",header=None)
log.columns = ['user_id','time','bet','win']
t = log.time[0]
t[1:]

'2019-01-01 14:06:51'

In [17]:
import re
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id','time','bet','win']
def clean_user_id(string):
    result = re.search('(user_\d+)', str(string))
    return result.group(0) if result is not None else ''
log['user_id'] = log['user_id'].apply(clean_user_id)
log.time = log.time.apply(lambda x: x[1:] if type(x) == str else x)
log = log[log['user_id'].str.match('user')]
log

      user_id                 time      bet     win
0    user_919  2019-01-01 14:06:51      NaN     NaN
1    user_973  2019-01-01 14:51:16      NaN     NaN
2    user_903  2019-01-01 16:31:16      NaN     NaN
3    user_954  2019-01-01 17:17:51      NaN     NaN
4    user_954  2019-01-01 21:31:18      NaN     NaN
..        ...                  ...      ...     ...
991  user_965  2019-04-20 12:55:41    800.0  6927.0
992  user_967  2019-04-20 14:59:36  10154.0     NaN
993  user_973  2019-04-20 17:09:56  10254.0     NaN
994  user_977  2019-04-20 18:10:07  10354.0     NaN
995  user_984   2019-04-20 9:59:58   9754.0     NaN

[985 rows x 4 columns]